@import url('https://fonts.googleapis.com/css2?family=Karla:ital,wght@0,200..800;1,200..800&display=swap');
*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: "Karla", sans-serif;
    color: hsl(187, 24%, 22%);
}
body{
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100dvh;
    background-color: hsl(148, 38%, 91%);
}

form{
    display: flex;
    flex-direction: column;
    gap: 10px;
    background-color: hsl(0, 0%, 100%);
    width: 90dvw;
    max-width: 700px;
    padding: 20px;
    border-radius: 20px;
}
form>h1{
    font-size: 1.5rem;
    font-weight: 700;
}
label, p{
    font-size: 0.9em;
}
span{
    color: red;
    font-size: 12px;
    display: none;
}

.erroSpan{
    display: block;
}
.erroInput{
    border: 2px solid rgb(173, 21, 21);
}
.mostrar{
    display: block; 
}
/* ======================================================= */
.userNames{
    gap: 20px;
}
.userNames>section{
    display: flex;
    flex-direction: column;
    width: 100%;
}
input{
    border: 1px solid hsl(169, 82%, 27%); 
    border-radius: 5px;
    padding: 10px 10px 10px 10px;
    margin: 5px 0;
    font-size: 1.3rem;
}
/* ======================================================= */
.email{
    flex-direction: column;
}
/* ======================================================= */
.queryType{
    display: flex;
    flex-direction: column;
    gap: 10px;
}
.typeOption{
    display: flex;
    gap: 20px;
}
.queryType .option{
    border: 1px solid hsl(169, 82%, 27%);
    border-radius: 10px;
    padding: 10px 10px 10px 20px;
    width: 50%;
    display: flex;
    gap: 10px;
}
/* ======================================================= */
.message{
    flex-direction: column;
}
.messageInput{
    min-height: 100px;
    margin-bottom: 20px;
}
.message section{
    margin: 30px 0;
}
.submitButtom{
    padding: 20px;
    border-radius: 10px;
    font-size: 1.8;
    background-color: hsl(169, 82%, 27%);
    color: white;
    margin-top: 20px;
}
/* ======================================================= */
.messageSend{
    position: absolute;
    top: 30px;
    left: 50%;
    transform: translate(-50%);
    background-color: hsl(187, 24%, 22%);
    padding: 15px;
    min-width: 400px;
    text-align: center;
    border-radius: 20px;
    display: none;

}
.messageSend > p, h2{
    color: white;
}
.messageSend section{
    display: flex;
    justify-content: center;
    gap: 5px;
}
@media(max-width: 600px){
    .userNames{
        flex-direction: column;
    }
}